button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    overflow: visible;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}