{% macro navigation() -%}

<div class="navigation-wrapper">
    <div class="navigation-title-wrapper">
        <p class="navigation-title">article recommender</p>
        <span class="navigation-subtext">by wontonface</p>
    </div>
    <div class="navigation-learnmore-wrapper">
        <a class="navigation-learnmore" href="https://wontonface.substack.com">View all articles on Substack</p><i class="ph-arrow-up-right-bold" style="font-size: 1.5em"></i></a>
    </div>
</div>

{%- endmacro %}


{% macro footer() -%}

<div class="footer">
    <img src="static/Avatar-2.png">
    <p class="footer-text">Built and designed by <a class="footer-link" href="https://nicoleiliana.com">Nicole Garcia</a></p>
</div>

{%- endmacro %}