{% macro navigation() -%}

<div class="navigation-wrapper">
    <div class="navigation-title-wrapper">
        <p class="navigation-title">article recommender</p>
        <span class="navigation-subtext">by wontonface</p>
    </div>
    <div class="navigation-learnmore-wrapper">
        <a class="navigation-learnmore" href="https://wontonface.substack.com">View all articles on Substack</p><i class="ph-arrow-up-right-bold" style="font-size: 1.5em"></i></a>
    </div>
</div>

{%- endmacro %}


{% macro progressBar(step) -%}

    <ul id="progressBar" class="progress-container" role="navigation">
        <li{% if step == 1 %} class="complete"{% endif %} aria-label="Article quiz - Step 1">
            <a href="/current-designer" tabindex="0">Are you a designer?</a>
        </li>
        <li{% if step == 2 %} class="complete"{% endif %} aria-label="Article quiz - Step 2">
            <a href="/your-goals" tabindex="0" aria-label="Article Quiz - Step 2">What are you interested in?</a>
        </li>
        <li{% if step == 3 %} class="complete"{% endif %} aria-label="Article Quiz - Step 3">
            <a href="/interview-status" tabindex="0" aria-label="Article Quiz - Step 3">Interviewing status</a>
        </li>
        <li{% if step == 4 %} class="complete"{% endif %} aria-label="Article Quiz - Step 4">
            <a href="/interview-stage" tabindex="0" aria-label="Article Quiz - Step 4 - pending">Interview stage</a>
        </li>
    </ul>


{%- endmacro %} 

{% macro footer() -%}

<div class="footer">
    <img src="static/Avatar-3.png" width="45" height="45">
    <p class="footer-text">Built and designed by <a class="footer-link" href="https://nicoleiliana.com">Nicole Garcia</a></p>
</div>

{%- endmacro %}


{% macro pagination(prevpage, nextpage) -%}

<div class="buttons-container">
    <button class="button-back" role="button" onclick="window.location.href='/{{ prevpage }}';"><i class="ph-arrow-left-bold" style="font-size: 1.5em"></i>Back</button>
    <button class="button-next" role="button" type="submit" onclick="window.location.href='/{{ nextpage }}';">Next <i class="ph-arrow-right-bold" style="font-size: 1.5em"></i></button>
</div>

{%- endmacro %}

{% macro alternateRoute(prevpage, nextpage) %} 



{% endmacro %}