{% extends 'base.html' %}
{% import 'components.html' as components %}
{% block body %}

<!----- Navigation ------->

{{ components.navigation() }}

<div class="body-content" role="main">
    <div class="text-container">
        <h1>
            Let's find the best articles for your needs.
        </h1>
        <div class="entry-subtext">
            Get started by answering a few short questions.
        </div>
    </div>
    <button class="button-main" role="button">Let's go!</button>
</div>

{{ components.footer() }}




{% endblock %}