{% extends 'base.html' %}
{% block body %}

<div class="body-content" role="main">
    <!---- Start page content ----->
    <!---- Progress bar ----->
    <ul id="progressBar" class="progress-container" role="navigation">
        <li class="complete" aria-label="Article quiz - Step 1">
            <a href="/current-designer" tabindex="0">Are you a designer?</a>
        </li>
        <li class="complete" aria-label="Article quiz - Step 2">
            <a href="/your-goals" tabindex="0" aria-label="Article Quiz - Step 2">What are you interested in?</a>
        </li>
        <li class="complete" aria-label="Article Quiz - Step 3">
            <a href="/interview-status" tabindex="0" aria-label="Article Quiz - Step 3">Interviewing status</a>
        </li>
        <li class="enable" aria-label="Article Quiz - Step 4">
            <a href="/interview-stage" tabindex="0" aria-label="Article Quiz - Step 4 - pending">Interview stage</a>
        </li>
    </ul>

    <!---- Header ----->
    <div class="text-container">
        <h2 class="page-title">
            What stage of the process are you in?
        </h2>
        <div class="section-subtext">
            Select all that apply.
        </div>
    </div>

    <!---- Start options ------>
    <div class="quiz-container-goals" role="group">
        <button class="goal-btn-wrapper">
            <input id="stage-1" class="goal-checkbox" type="checkbox" name="stage" value="applying" aria-label="Select stage - Just applying; I haven't started interviewing yet">
            <label for="stage-1" class="card-content">
                <i class="ph-file-arrow-up-bold" style="font-size: 1.5em"></i>
                <div class="card-content-text">
                    <h3 class="result-card-headline">Just applying</h3>
                    <p class="card-description">I haven't started interviewing yet</p>
                </div>
        </button>
        <button class="goal-btn-wrapper">
            <input id="stage-2" class="goal-checkbox" type="checkbox" name="stage" value="early" aria-label="Select stage - Early stage; applying, speaking to recruiters">
            <label for="stage-2" class="card-content">
                <i class="ph-flow-arrow-bold" style="font-size: 1.5em"></i>
                <div class="card-content-text">
                    <h3 class="result-card-headline">Early stage</h3>
                    <p class="card-description">Applying, speaking to recruiters</p>
                </div>
        </button>
        <button class="goal-btn-wrapper">
            <input id="stage-3" class="goal-checkbox" type="checkbox" name="stage" value="mid" aria-label="Select stage - Mid stage; speaking to hiring managers, design exercise">
            <label for="stage-3" class="card-content">
                <i class="ph-strategy-bold" style="font-size: 1.5em"></i>
                <div class="card-content-text">
                    <h3 class="result-card-headline">Mid stage</h3>
                    <p class="card-description">Speaking to hiring managers, design exercise</p>
                </div>
        </button>
        <button class="goal-btn-wrapper">
            <input id="stage-4" class="goal-checkbox" type="checkbox" name="stage" value="late" aria-label="Select stage - Late stage; portfolio presentation, team interviews">
            <label for="stage-4" class="card-content">
                <i class="ph-polygon-bold" style="font-size: 1.5em"></i>
                <div class="card-content-text">
                    <h3 class="result-card-headline">Late stage</h3>
                    <p class="card-description">Portfolio presentation, team interviews</p>
                </div>
        </button>
        <!--- Pagination ---->
        <div class="buttons-container">
            <button class="button-back" role="button"><i class="ph-arrow-left-bold" style="font-size: 1.5em"></i>Back</button>
            <button class="button-next" role="button">Submit <i class="ph-arrow-right-bold" style="font-size: 1.5em"></i></button>
        </div>
</div>

<div class="footer">
    <img src="static/Avatar-Circle-1.gif" width="100" height="100">
    <p>Built and designed by <a href="nicoleiliana.com">Nicole Garcia</a></p>
</div>




{% endblock %}