{% extends 'base.html' %}
{% block body %}

<div class="body-content" role="main">
    <div class="text-container">
        <div class="section-title">
            Which of the following are you interested in?
        </div>
        <div class="section-subtext">
            Select all that apply.
        </div>
    </div>
    <div class="body-options" role="list">
        <div class="option-card-horizontal" role="listitem">
            <div class="card-content">
                <i class="ph-file-arrow-up" style="font-size: 2.5em"></i>
                <div class="card-content-text">
                    <div class="card-title">
                        <div class="card-name">Just applying</div>
                    </div>
                    <div class="card-subtext">
                        <div class="card-description">I haven't started interviewing yet</div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="footer">
    <img src="static/Avatar-Circle-1.gif" width="100" height="100">
    <p>Built and designed by <a href="nicoleiliana.com">Nicole Garcia</a></p>
</div>




{% endblock %}