{% extends 'base.html' %}
{% import 'components.html' as components %}
{% import 'results-logic.html' as logic %}
{% block body %}

{{ components.navigation() }}

<div class="body-content">
    <!---- Start page content ----->
    <!---- Progress bar ----->
    {{ components.progressBar(4) }}
    
    <div class="text-container">
        <h2 class="section-title">Here are your recommended articles</h2>
        <p class="section-subtext">Interested in reading more? View all articles <a href="https://wontonface.substack.com/">here.</a></p>
    </div>
</div>
    <div class="results-container">
        {% if results_aspiringRole == 'nonDesigner' %}
            {{ logic.results_nonDesigner() }}
        {% endif %}
        {% if results_improvingSkills == 'nonImprovingSkills' %} 
            {{ logic.results_nonImprovingSkills() }}
        {% else %}
            {{ logic.results_improvingSkills() }}
        {% endif %}
        {% if results_jobHunting == 'allJobHunting' %}
            {{ logic.results_allJobHunting() }}
        {% endif %}
    </div>
    
    <button class="button-main" role="button">Restart</button>
    
    {{ components.footer() }}



{% endblock %}