{% extends 'base.html' %}
{% import 'components.html' as components %}
{% block body %}

{{ components.navigation() }}

<div class="body-content" role="main">

    {{ components.progressBar(1) }}
    <div class="text-container">
        <div class="section-title">
            Are you currently working as a product designer?
        </div>
    </div>
    <div class="body-options">
        <div class="quiz-container-column" role="group">
            <button class="column-btn-wrapper">
                <input id="currentdesigner-1" class="column-checkbox" type="radio" name="currentdesigner" value="yes" method="post" aria-label="Are you currently working as a product designer - Yes">
                <label for="currentdesigner-1" class="card-content-vertical">
                    <i class="ph-check-circle-bold" style="font-size: 1.5em"></i>
                    Yes, I am
            </button>
            <button class="column-btn-wrapper">
                <input id="currentdesigner-2" class="column-checkbox" type="radio" name="currentdesigner" value="no" method="post" aria-label="Are you currently working as a product designer - No">
                <label for="currentdesigner-2" class="card-content-vertical"> 
                    <i class="ph-x-circle-bold" style="font-size: 1.5em"></i>
                    No, I'm not
            </button>
        </div>
    </div>

    {% if request.form.get('currentdesigner') == 'no' %}
        {{ components.pagination('', 'aspiring-designer') }}
    {% else %}
        {{ components.pagination('', 'your-goals') }}
    {% endif %}

    {{ components.footer() }}
</div>

<!--- Can change column-checkbox to be more generic, like column-select, since it will apply for both checkbox AND radio -->





{% endblock %}