{% extends 'base.html' %}
{% import 'components.html' as components %}
{% block body %}

{{ components.navigation() }}


<div class="body-content" role="main">
    <!--- Progress bar ---->
    <ul id="progressBar" class="progress-container" role="navigation">
        <li class="complete" aria-label="Article quiz - Step 1">
            <a href="/current-designer" tabindex="0">Are you a designer?</a>
        </li>
        <li class="enable" aria-label="Article quiz - Step 2">
            <a href="/your-goals" tabindex="0" aria-label="Article Quiz - Step 2 - pending">What are you interested in?</a>
        </li>
        <li class="" aria-label="Article Quiz - Step 3">
            <a href="/interview-status" tabindex="-1" aria-label="Article Quiz - Step 3 - incomplete link">Interviewing status</a>
        </li>
        <li class="" aria-label="Article Quiz - Step 4">
            <a href="/interview-stage" tabindex="-1" aria-label="Article Quiz - Step 4 - incomplete link">Interview stage</a>
        </li>
    </ul>

    <!--- Start page content ---->
    <div class="text-container">
        <div class="section-title">
            Which of the following are you interested in?
        </div>
        <div class="section-subtext">
            Select all that apply.
        </div>
    </div>
    <div class="quiz-container-goals" role="group">
        <form id="question-1" method="POST" action="/add2">
            <div class="goal-btn-wrapper">
                <input id="goal-1" class="goal-checkbox" type="checkbox" name="goal" value="skills" method="POST" aria-label="Select interest - improving my skills or learning new skills">
                <label for ="goal-1" class="card-content">
                    <i class="ph-line-segments-bold" style="font-size: 1.5em"></i>
                    Improving my skills or learning new skills
            </div>
            <div class="goal-btn-wrapper">
                <input id="goal-2" class="goal-checkbox" type="checkbox" name="goal" value="newjob" method="POST" aria-label="Select interest - finding a new job">
                <label for ="goal-2" class="card-content">
                    <i class="ph-confetti-bold" style="font-size: 1.5em"></i>
                    Finding a new job
            </div>
            <div class="goal-btn-wrapper">
                <input id="goal-3" class="goal-checkbox" type="checkbox" name="goal" value="tech" method="POST" aria-label="Select interest - breaking into tech">
                <label for ="goal-3" class="card-content">
                    <i class="ph-android-logo-bold" style="font-size: 1.5em"></i>
                    Breaking into tech
            </div> 
        </form>
    </div>
    <!--- Pagination ---->
    <div class="buttons-container">
        <button class="button-back" role="button" onclick="window.location.href='/add';"><i class="ph-arrow-left-bold" style="font-size: 1.5em"></i>Back</button>
        <button class="button-next" role="button" type="submit" form="question-1" value="submit" method="POST" onclick="window.location.href='/add2';">Next <i class="ph-arrow-right-bold" style="font-size: 1.5em"></i></button>
    </div>

    {{ components.footer() }}
</div>







{% endblock %}